# IDE Settings
.vs/
.vscode/
.idea/

*.user
.DS_Store

# Build files
**/bin/**
**/obj/**
/build/

# Launch Settings
/CadRevealComposer.Exe/Properties/launchSettings.json

# Ignore test data because of large or confidential files.
/TestData/*

# Ignore everything in TestSamples except for a whitelist
/TestSamples/
!/TestSamples/Huldra/

# Script TempFiles
/scripts/outputs/**
/scripts/work_temp/
