# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master
jobs:
- job: Secrets Scanning
  pool:
    vmImage: 'ubuntu-latest'
  steps:
    - template: secrets-scanning.yaml

- job: Build and install
  pool:
    vmImage: "windows-latest"
  
  variables:
    solution: "**/*.sln"
    buildPlatform: "Any CPU"
    buildConfiguration: "Release"
  
  steps:
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        packageType: 'sdk' 
        version: '8.0.x'
  
    - task: DotNetCoreCLI@2
      displayName: "Restore NuGet"
      inputs:
        command: "restore"
        projects: "$(solution)"
  
    - task: DotNetCoreCLI@2
      displayName: "Build"
      inputs:
        command: "build"
        projects: "$(solution)"
        arguments: "/warnaserror"
  
    - task: DotNetCoreCLI@2
      displayName: "Test"
      inputs:
        command: "test"
        projects: "**/*.Tests.csproj"
        arguments: '--configuration $(BuildConfiguration) --collect "XPlat Code coverage" -- RunConfiguration.DisableAppDomain=true'
  
    - script: "dotnet tool install --global dotnet-reportgenerator-globaltool --version 5.1.9"
      displayName: "Install ReportGenerator tool"
  
    - script: 'reportgenerator -reports:$(Agent.TempDirectory)/**/coverage.cobertura.xml -targetdir:$(Build.SourcesDirectory)/coverlet/reports -reporttypes:"Cobertura"'
      displayName: "Create coverage reports"
  
    - task: PublishCodeCoverageResults@1
      displayName: "Publish code coverage"
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: "$(Build.SourcesDirectory)/coverlet/reports/Cobertura.xml"
