name: Validate PR
on:
  pull_request:
    branches: [ master ]
jobs:
  check_formatting:
    runs-on: windows-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        run: |
          dotnet tool restore
      - name: Print csharpier version
        run: |
          dotnet csharpier --version
      - name: Check formatting using csharpier
        run: |
          dotnet csharpier --check .
          if ($LASTEXITCODE -ne 0) {
            Write-Host ""
            Write-Host "Tip: Install csharpier using ' dotnet tool restore ', and run it using ' dotnet csharpier . ' to autofix formatting."
          }

  secrets_scanning:
    runs-on: ubuntu-latest
    name: Secrets Scanning
    steps:
          - template: secrets-scanning.yaml

  build:
    name: Build and test
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore /warnaserror
      - name: Test
        run: dotnet test --no-restore --verbosity normal
